/* ********** */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:focus,
textarea:focus {
  border: 1px solid #F5170E;
}

/* *************** */

.main-page-wrapper {
  background-image: url("../img/bg-1.jpg"), url("../img/bg-2.jpg");
  background-position: top center, bottom center;
  background-repeat: no-repeat, no-repeat;
  background-color: #001821;

}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 124px;
}

.logo {}

.header__logo {
  margin-right: 79px;
}

.logo__link {
  display: inline-block;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
}

.menu__list-item:hover {
  color: #DA0100;
  transition: all 0.5s;
}

.contacts {
  position: relative;
  margin-left: auto;
  text-align: right;
}

.contacts__tel-link {
  display: block;
  font-size: 26px;
}

.contacts__tel-link:hover {
  color: #DA0100;
  transition: all 0.5s;
}

.contacts__work-schedule {
  font-size: 13px;
  cursor: pointer;
}

.contacts__work-schedule-hover {
  position: absolute;
  visibility: hidden;
  content: "";
  right: 0;
  top: 60px;
  padding: 20px;
  font-weight: 700;
  color: #1E1F20;
  background-color: #EDEDED;
  opacity: 0;
  z-index: -10;
}

.contacts__work-schedule-hover::before {
  position: absolute;
  bottom: 100%;
  right: 35px;
  content: "";
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  border-bottom-color: #EDEDED;
  border-top: 0px;
}

.contacts__work-schedule-hover span {
  display: block;
}

.contacts__work-schedule:hover+.contacts__work-schedule-hover {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition: opacity 2s;
}

/* PROMO-SECTION */

.promo-section {
  padding: 46px 0 246px 0;
}

.promo-section__content {
  max-width: 514px;
}

.promo-section__title {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 28px;
}

.promo-section__text {
  font-size: 18px;
  margin-bottom: 34px;
}

.promo-section__button {
  display: inline-block;
  padding: 18px 40px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F5170E;
  border-radius: 35px;
}

/* HOT-TOURS */

.hot-tours__title {
  margin-bottom: 51px;
  font-size: 36px;
  font-weight: 700;
}

.hot-tours__title::after {
  display: inline-block;
  margin-left: 12px;
  content: "";
  width: 21px;
  height: 28px;
  background: url("../img/icons/flame-icon.png") center center / cover no-repeat;
}

.hot-tours {
  margin-bottom: 127px;
}

.hot-tours__offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hot-tours__offers-card {
  max-width: 32%;
}

.hot-tours-card__block {
  margin-top: -3px;
  padding: 35px 52px 26px 22px;
  background-color: #fff;
}

.hot-tours-card__title {
  margin-bottom: 21px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.hot-tours-card__details {
  margin: 0 -14px;
  margin-bottom: 24px;
}

.hot-tours-card__tour-duration,
.hot-tours-card__tour-include {
  display: inline-block;
  vertical-align: middle;
  margin: 0 14px;
  font-size: 16px;
  color: #666666;
}

.hot-tours-card__tour-duration::before {
  display: inline-block;
  content: "";
  width: 26px;
  height: 26px;
  margin-right: 5px;
  vertical-align: middle;
  background: url("../img/icons/calendar-icon.png") center center / cover no-repeat;
}

.hot-tours-card__tour-include::before {
  display: inline-block;
  content: "";
  width: 26px;
  height: 26px;
  margin-right: 5px;
  vertical-align: middle;
  background: url("../img/icons/meal-icon.png") center center / cover no-repeat;
}

.hot-tours-card__info {
  color: #303030;
  margin-bottom: 25px;
  line-height: 1.5;
}

.hot-tours-card__more-info-button {
  display: inline-block;
  padding: 18px 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5170E;
  border: 1px solid #F5170E;
  border-radius: 35px;
}

.hot-tours-card__more-info-button:hover {
  color: #fff;
  background-color: #F5170E;
  transition: all 0.5s;
}

/* NEWS */

.news-section {
  margin-bottom: 125px;
}

.news-section__title {
  margin-bottom: 51px;
  font-size: 36px;
  font-weight: 700;
}

.news-section__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.news-section__slider-card {
  position: relative;
  max-width: 49%;
}

.news-section__slider-card-content {
  position: absolute;
  bottom: 50px;
  left: 32px;
  color: #fff;
  min-height: 95px;
}

.news-section__slider-card-title {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
}

.news-section__slider-card-info {
  margin-top: 20px;
  font-size: 16px;
}

.paginator {
  text-align: center;
  font-size: 16px;
}

.paginator__info {
  display: inline-block;
  margin-right: 20px;
}

.paginator__menu-links {
  display: inline-block;
}

.paginator__menu-item {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  border-radius: 100%;
}

.paginator__menu-item:hover {
  background-color: #fff;
  color: #F5170E;
  transition: all 0.5s;
}

/* ABOUT US */

.about-us-section {
  display: flex;
  margin-bottom: 53px;
  color: #000;
}

.about-us-section__tour-image {
  width: 490px;
}

.about-us-section__content {
  width: 785px;
  min-height: 455px;
  margin-top: 100px;
  margin-left: -142px;
  background: url("../img/about-us-image-2.jpg") center center / cover no-repeat;
  padding: 70px 202px 0px 81px;
}

.about-us-section__title {
  margin-bottom: 37px;
  font-size: 36px;
  font-weight: 700;
}

.about-us-section__info {
  font-size: 16px;
  line-height: 1.42;
  margin-bottom: 43px;
}

.about-us-section__more-info-link {
  display: inline-block;
  padding: 18px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F5170E;
  border-radius: 35px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 43px 0px;
  border-top: 1px solid #9a9a9a;
}

.footer__logo {
  margin-right: 80px;
}

.social-links {
  margin-left: 260px;
  margin-right: 35px;
}

.social-links__group {
  display: flex;
  gap: 10px;
}

.social-links__item {
  opacity: 0.5;
}

.social-links__item:hover {
  opacity: 1.0;
  transition: all 0.5s;
}

.contacts__info {
  font-size: 11px;
}

.contacts__tel-link {
  font-size: 26px;
}