.wellcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url("../img/wellcome-bg.jpg") center bottom / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: wellcome-animation 1s;
  animation-fill-mode: forwards;
}

.central__logo {
  margin-bottom: 5px;
}

.wellcome-text {
  margin-bottom: 52px;
}

.btn__color__red {
  padding: 18px 58px;
  text-transform: uppercase;
  border-radius: 35px;
  background-color: #F5170E;
}

.btn__color__red:hover {
  background-color: #fff;
  color: #F5170E;
}

@keyframes wellcome-animation {
  from {

    transform: scale(.7)
  }

  20% {
    transform: scale(1.15)
  }

  40% {
    transform: scale(.9)
  }

  60% {
    transform: scale(1.1)
  }

  80% {
    transform: scale(.95)
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}